# Environnement
.env.local
.env.*.local

# Dépendances
app/vendor/
app/node_modules/

# Cache Symfony
app/var/

# Logs
*.log

# Base de données locale
*.sqlite

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml

# JWT Token
app/config/jwt/