header
{
    width: 100%;
    height: 81px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--beige);
    padding: 0px 100px;
}

.headerHomeLogo
{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 4px;
    font-family: 'Playfair Display', serif;
    font-weight: 500;
}
.headerLogo
{
    width: 19px;
    height: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--green);
    border-radius: 3.06px;
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
}
.headerLogoText
{
    font-size: 14px;
    font-weight: 500;
    color: var(--green);
    text-decoration: none;
}

.headerLinks ul
{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 53px;
}
.headerLinks ul li a
{
    font-weight: 400;
}