.registerPage
{
    width: 100%;
    height: calc(100vh - 81px - 81px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFDF7;
}
.registerPageMaxWidth
{
    width: 100%;
    height: 100%;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.image
{
    width: 50%;
    height: 100%;
    overflow: hidden;
    display: flex;
}
.image img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}