:root
{
    --beige: #FFFDF7;
    --green: #497555;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 0;
    width: 100%;
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: #333333;
}

main
{
    flex-grow: 1;
    width: 100%;
}

a
{
    text-decoration: none;
    color: inherit;
}