.loginPage
{
    width: 100%;
    height: calc(100vh - 81px - 81px);
    display: flex;
    justify-content: center;
    align-items: start;
    background-color: #FFFDF7;
    overflow: hidden;
}
.loginPageMaxWidth
{
    width: 100%;
    height: 100%;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.image
{
    width: 50%;
    height: 100%;
    overflow: hidden;
    display: flex;
}
.image img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.form
{
    flex-grow: 1;
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 40px;
}

.title
{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 10px;
}
h1
{
    font-weight: 500;
    font-size: 20px;
}
.subtitle
{
    font-weight: 400;
    font-size: 12;
    color: #666666;
}
form
{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 40px;
    width: 100%;
}
.colinput
{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 10px;
}
label
{
    font-weight: 400;
    font-size: 14px;
    color: #666666;
}
input[type=text], input[type=email]
{
    width: 100%;
    border-radius: 0;
    border: solid 1px #666666;
    height: 67px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 20px;
    font-size: 16px;
    background: none;
}
.rowinput
{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}
input[type=checkbox]
{
    border-radius: 0;
    width: 19px;
    height: 19px;
    border: solid 1px #666666;
}
a.terms
{
    font-weight: 600;
}

input[type=submit]
{
    width: 100%;
    height: 77px;
    background-color: #565656;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 14px;
    font-weight: 400;
    border-radius: 0;
    border: none;
}

.alreadyHaveAccount
{
    color: #666666;
    font-weight: 400;
    font-size: 14px;
    text-decoration: underline 1px #666666;
    text-align: center;
    width: 100%;
}

.error
{
    background-color: #ffd6d6;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 12px;
    padding: 14px;
    border-radius: 10px;
}
.error img
{
    width: 16px;
    height: 16px;
}